@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 32, 44;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: white;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
